.header {
    background-image:
    linear-gradient(
        to right,
        rgba($color-grey-light-1, .4),
        rgba($color-grey-light-2, .4)),
        url("../img/header.jpg");
    background-size: cover;
    background-position: center;

    grid-column: full-start / full-end;

    display: grid;
    align-content: start;

    &__title {
        margin-left: 4rem;
        // background-image: radial-gradient($color-primary-light, $color-primary);
        // -webkit-background-clip: text;
        // background-clip: text;
        // color: transparent;
        transform: rotate(-15deg);
        transform-origin: center;
    }
}